// Custom styles.

// add background
body { 
    background:url(/SPACEofPHD/uploads/"Gaia's-Milky-Way.jpg");
    background-repeat:no-repeat;
    background-size:cover; 
    background-position:center;
    background-attachment:fixed;
    opacity: 0.9;
}

// expand toc on all post
.post-toc .nav .nav-child { display: block; }
