// Custom styles.

// add background
body { 
    height: 100%;
    background:url(../uploads/"Gaia's-Milky-Way.jpg");
    //background-repeat:no-repeat;
    background-size:contain; 
    background-position:center;
    //background-attachment:fixed;
    opacity: 0.9;
}

// expand toc on all post
.post-toc .nav .nav-child { display: block; }
