// Custom styles.

// add background
body { 
    height: 100%;
    // background:url(../uploads/"Gaia's-Milky-Way.jpg");
    background:url(../uploads/heic0611b_Hubble_Ultra_Deep_Field.jpg);
    //background-repeat:no-repeat;
    // background-size:contain; 
    // background-size: cover;
    // background-position:center;
    background-attachment:fixed;
    // opacity: 0.95;
}

// // expand toc on all post
// .post-toc .nav .nav-child { display: block; }



// Katex-related
.katex {
  font-size: 1.05em !important; // change all font-sizes
}
// allow katex equations scrolling horizontally, without vertical scrollbar
.katex-display > .katex {
    font-size: 1.1em !important; // only reset display font-size
    height: auto;
    overflow: hidden;
    overflow-x: auto;
}

// show more condensed lists
p+ul, p+ol, div>ul, div>ol {
  padding-inline-start: 2em;
  margin-block-start: -10px;
  margin-block-end: 10px;
  // white-space: nowrap;
  // overflow: hidden;
  // overflow-x: auto;
}
ul.category-list, ul.category-list-child {
  padding-inline-start: 2.5em !important;
  margin-block-start: 1em;
  margin-block-end: 1em;
}
// ul li, ol li {
//     text-align: left;
// }


// add post banner. looks bad for Gemini
// .header { 
//     height: 24vh;
//     background: url('../uploads/banner.jpg');
//     // background-size: cover;
// }
// .header-inner { 
//     position: relative; 
// }


// // reduce space between paragraph and list
// .post-body .tabs .tab-content .tab-pane {
//     padding: 0 20px 0 20px;
// }
// p {
//     margin: 10px 0 10px 0;
// }

// // increase H1 fontsize
// .post-body h1, h2 {
//     font-size: 2em;
//     margin: 30px 0 5px 0;
// }

.post-body {
  h1 {
    font-size: 2em;
    // margin: 0 0 5px 0;
    font-family: "Vollkorn Semi-Bold";
    // font-style: italic;
  }
  h2 {
    font-size: 1.5em;
    // margin: 0 0 5px 10px;
  }
  h3 {
    font-size: 1.2em;
    // margin: 0 0 5px 20px;
  }
  h4 {
    font-size: 1.0em;
    // margin: 0 0 5px 20px;
  }
}

// background color when using <mark></mark>
mark {
  background-color: #daffb7;
}

//
.site-meta {
  background: #005288;
  opacity: 0.7;
}

// force full-image to be 100% width
img.full-image {
  max-width: 100% !important;
}

img {
  max-width: 400px;
}

//
.site-author-image {
  max-width: 68%;
}


.menu .menu-item a,
.menu .menu-item span.exturl {
  font-size: 0.9em;
  color: #005288
}


iframe {
  display: block; 
  margin: auto;
}



.ImageGrid {
  width: 100%;
  max-width: 90%;//1040px;
  margin: 0 auto;
  text-align: center;
}
.card {
  overflow: hidden;
  transition: .3s ease-in-out;
  // border-radius: 8px;
  background-color: #ddd;
}
.ImageInCard img {
  padding: 0 0 0 0;
  // border-radius: 8px;
}




