
// Font size of articles.
$font-size-base = 40px

// Font size of code.
$code-font-size = $font-size-base

// $font-size-headings-base = 24px
// $b2t-font-size = 16px


$line-height-base = 1.5


$content-desktop-largest      = 85%


